.productos {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}


.productos .card {
    width: 250px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 12px;
}

.card .d-grid {
  width: 100%;   
}

body {
    background-color: rgb(177, 179, 180);
}

img {
    border-radius: 10px;
}

footer {
    background-color: #929292;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    border: solid 1px #000;
    border-radius: 10px;
}

.preheader {
    display: block;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 8px 0;
    text-align: center;
    font-size: 14px;

}

#contacto {
    margin: 20px auto;
    text-align: center;
    background-color: #e0e0e0;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

#acerca {
    margin-top: 20px;
    text-align: center;
    margin-block-end: auto;
}

#mision {
    margin-top: 20px;
    text-align: center;
    margin-block-end: auto;
}

#about {
    margin: 0 auto;
    border: solid 1px #4b4b4b;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    margin-block-end: auto;
    width: 600px;
    padding: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.producto-detalle {
    text-align: center;
    margin-top: 20px;
}

#home {
    margin-top: 20px;
    text-align: center;
    margin-block-end: auto;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: hwb(214 6% 20%);
}

.carro-card {
  max-width: 500px;
  margin: 20px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  text-align: center;
}
* {
  font-family: "Poppins", sans-serif !important;
}

h4 {
  font-weight: 600px !important; 
  text-align: center;
  font-style: italic;
}

h5, h1 {
  font-weight: 400px !important; 
  text-align: center;
  font-style: italic;
}